<div class="container">
  <div class="row">
      <div class="col-lg-8 col-sm-12 col-xm-12 coll">
          <div class="row row1">
          <div>
          <div>
          <div class="right">
          <p class="import">{{this.model}}Connections</p>
          <div>
          <span class="sort">Sort by:</span>
          <div class="dropdown drop">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Recenly Added
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#"> Recenly Added</a></li>
              <li><a class="dropdown-item" href="#">First Name</a></li>
              <li><a class="dropdown-item" href="#">Last Name</a></li>
              </ul>
          </div>
          </div>
          </div>
          <div class="input">
                  <span><i class="fas fa-search"></i></span>
                  <input type="text" placeholder="Search By Name or Company" >

          </div>
          </div>
          <hr>
          <div class="imgs">
              <div class="Name">
          <div class="div1"><img src="img/yuvraj-singh-SjlvqlnSEhg-unsplash.jpg"></div>
          <div class="div2">
              <p>Yuvraj Singh </p>
              <span>Teaching assistant at Information Technology Institute (ITI)</span>
              <div>conected 4 days ago</div>
          </div>
      </div>
      <div class="button">
          <div><button class="continue">Message</button></div>
          <div>
              <div class="dropdown">
                  <span><i class="fas fa-ellipsis-h"></i></span>
                  <div class="dropdown-content">
                  <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                  </div>
              </div>

          </div>
          </div>


      </div>

          <hr>
          <div class="imgs">
              <div class="Name">
          <div class="div1"><img src="img/anthony-intraversato-vYRAP3yMa3I-unsplash.jpg"></div>
          <div class="div2">
              <p>tony john </p>
              <span>Associate Software Developer . Net</span>
              <div>conected 4 days ago</div>
          </div>
      </div>
      <div class="button">
          <div><button class="continue">Message</button></div>
          <div>
              <div class="dropdown">
                  <span><i class="fas fa-ellipsis-h"></i></span>
                  <div class="dropdown-content">
                  <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                  </div>
              </div>

          </div>
          </div>


      </div>
              <hr>
              <div class="imgs">
                  <div class="Name">
              <div class="div1"><img src="img/angele-kamp-IWzloaVyoOw-unsplash.jpg"></div>
              <div class="div2">
                  <p>Gems kam </p>
                  <span>computer science student at Future University</span>
                  <div>conected 4 days ago</div>
              </div>
          </div>
          <div class="button">
              <div><button class="continue">Message</button></div>
              <div>
                  <div class="dropdown">
                      <span><i class="fas fa-ellipsis-h"></i></span>
                      <div class="dropdown-content">
                      <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                      </div>
                  </div>

              </div>
              </div>


          </div>
                  <hr>
                  <div class="imgs">
                      <div class="Name">
                  <div class="div1"><img src="img/sergio-de-paula-c_GmwfHBDzk-unsplash.jpg"></div>
                  <div class="div2">
                      <p>Serjo Paula </p>
                      <span></span>
                      <div>conected 4 days ago</div>
                  </div>
              </div>
              <div class="button">
                  <div><button class="continue">Message</button></div>
                  <div>
                      <div class="dropdown">
                          <span><i class="fas fa-ellipsis-h"></i></span>
                          <div class="dropdown-content">
                          <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                          </div>
                      </div>

                  </div>
                  </div>


              </div>
                      <hr>
                      <div class="imgs">
                          <div class="Name">
                      <div class="div1"><img src="img/danielle-peterson-aL8d0P9WZnw-unsplash.jpg"></div>
                      <div class="div2">
                          <p>Danialle peterson</p>
                          <span>Artificial Intelligence Trainee at Information Technology Institute</span>
                          <div>conected 4 days ago</div>
                      </div>
                  </div>
                  <div class="button">
                      <div><button class="continue">Message</button></div>
                      <div>
                          <div class="dropdown">
                              <span><i class="fas fa-ellipsis-h"></i></span>
                              <div class="dropdown-content">
                              <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                              </div>
                          </div>

                      </div>
                      </div>


                  </div>
                          <hr>
                          <div class="imgs">
                              <div class="Name">
                          <div class="div1"><img src="img/sandra-seitamaa-JhU1i9D43TI-unsplash.jpg"></div>
                          <div class="div2">
                              <p>Sandra setiamaa</p>
                              <span>Senior Full Stack Web Developer Laravel & vue</span>
                              <div>conected 4 days ago</div>
                          </div>
                      </div>
                      <div class="button">
                          <div><button class="continue">Message</button></div>
                          <div>
                              <div class="dropdown">
                                  <span><i class="fas fa-ellipsis-h"></i></span>
                                  <div class="dropdown-content">
                                  <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                                  </div>
                              </div>

                          </div>
                          </div>


                      </div>
                              <hr>
                              <div class="imgs">
                                  <div class="Name">
                              <div class="div1"><img src="img/x-sLGYaQ_stMM-unsplash.jpg"></div>
                              <div class="div2">
                                  <p>Sogo Keen </p>
                                  <span>front end developer (angular)&& studied engineering at Al Azhar university--</span>
                                  <div>conected 4 days ago</div>
                              </div>
                          </div>
                          <div class="button">
                              <div><button class="continue">Message</button></div>
                              <div>
                                  <div class="dropdown">
                                      <span><i class="fas fa-ellipsis-h"></i></span>
                                      <div class="dropdown-content">
                                      <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                                      </div>
                                  </div>

                              </div>
                              </div>


                          </div>
                          <hr>
                          <div class="imgs">
                              <div class="Name">
                          <div class="div1"><img src="img/amir-khan-4x0imdL55bQ-unsplash.jpg"></div>
                          <div class="div2">
                              <p>Amir Tony </p>
                              <span>Software Development Engineer at Trufla Technology / JavaScript instructor</span>
                              <div>conected 4 days ago</div>
                          </div>
                      </div>
                      <div class="button">
                          <div><button class="continue">Message</button></div>
                          <div>
                              <div class="dropdown">
                                  <span><i class="fas fa-ellipsis-h"></i></span>
                                  <div class="dropdown-content">
                                  <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                                  </div>
                              </div>

                          </div>
                          </div>


                      </div>
                              <hr>
                              <div class="imgs">
                                  <div class="Name">
                              <div class="div1"><img src="img/tamara-bellis-2Tv7-O13hgk-unsplash.jpg"></div>
                              <div class="div2">
                                  <p>Tamara billis </p>
                                  <span>Personal Brand Evangelist" "I help Leaders, Founders, and Business Owners</span>
                                  <div>conected 4 days ago</div>
                              </div>
                          </div>
                          <div class="button">
                              <div><button class="continue">Message</button></div>
                              <div>
                                  <div class="dropdown">
                                      <span><i class="fas fa-ellipsis-h"></i></span>
                                      <div class="dropdown-content">
                                      <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                                      </div>
                                  </div>

                              </div>
                              </div>


                          </div>
                          <hr>

                          <div class="imgs">
                              <div class="Name">
                          <div class="div1"><img src="img/samuel-raita-RiDxDgHg7pw-unsplash.jpg"></div>
                          <div class="div2">
                              <p>samuel Raita </p>
                              <span>Business Analyst and Software Engineer at Upwork</span>
                              <div>conected 4 days ago</div>
                          </div>
                      </div>
                      <div class="button">
                          <div><button class="continue">Message</button></div>
                          <div>
                              <div class="dropdown">
                                  <span><i class="fas fa-ellipsis-h"></i></span>
                                  <div class="dropdown-content">
                                  <p> <i class="fas fa-trash-alt">Remove connection</i></p>
                                  </div>
                              </div>

                          </div>
                          </div>


                      </div>

      </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-xm-12  col3">
          <div class="row row_manage">
              <button><i class="fas fa-book-open"> Manage synced and importedcontacts</i></button>
          </div>
          <div class="row row_add">
          <p class="p1">Add personal Contact</p>
          <p class="p2"> We’ll periodically import and store your contacts to help you and others connect. You choose who to connect to and who to invite.<a href="#">learn more</a></p>
          <input placeholder="Your Email Address">
      <button>continue</button>
      <div><a href="#">More options</a></div>
      </div>

      <div class="man">
          <img src="https://static-exp1.licdn.com/scds/common/u/images/promo/ads/li_evergreen_jobs_ad_300x250_v1.jpg">
      </div>

      <div class="row row5 text-center  align-items-end">
          <small class="col  mb-3 pt-3 " >
            <span class="badge bg-dark">LinkedIn</span>
            <span class="footer-copyright">© 2021</span>
            <a href="" class="ps-3">About</a>
            <a href=""class="ps-3">Accessibilty</a>
            <a href=""class="ps-3">User Agreement</a>
            <a href=""class="ps-3">Privcy Policy</a>
            <a href=""class="ps-3">Cookie Policy</a>
            <a href=""class="ps-3">Copyright Polict</a>
            <a href=""class="ps-3">Brand Policy</a>
            <a href=""class="ps-3">Guest Controls</a>
            <a href=""class="ps-3">Community Guidelines</a>

            <div class="btn-group dropup">
                <button type="button" class="btn btn-link text-muted text-decoration-none ps-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Language
                </button>
                <ul class="dropdown-menu">
                    <!-- <li><span class="dropdown-item-text">Dropdown item text</span></li> -->
                    <li><a class="dropdown-item" href="#">Arabic</a></li>
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">French</a></li>
                  </ul>
              </div>
          </small>
      </div>
</div>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="card">
        <div class="card-header bg-transparent">
          <h4>Visit More Linkedin Products</h4>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <i class="bi bi-youtube"></i>
                    <p>Learning</p>
                </li>
                <li class="nav-item">
                    <i class="bi bi-textarea"></i>
                    <p>Insights</p>
                </li>
                <li class="nav-item">
                    <i class="bi bi-briefcase"></i>
                    <p>Post a job</p>
                </li>
                <li class="nav-item">
                    <i class="bi bi-geo"></i>
                    <p>Advertise</p>
                </li>
              </ul>
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <i class="bi bi-search"></i>
                    <p>Find Leads</p>
                </li>
                <li class="nav-item">
                    <i class="bi bi-people"></i>
                    <p>Groups</p>
                </li>
                <li class="nav-item">
                    <i class="bi bi-info-lg"></i>
                    <p>Services</p>
                </li>
                <li class="nav-item">
                    <i class="bi bi-cash-coin"></i>
                    <p>Salary</p>
                </li>
              </ul>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header bg-transparent">
         <h4>LinkedIn Business Services</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Talent Solutions</h5>
          <p class="card-text"><small class="text-muted">Find, attract and recruit talent</small></p>
          <h5>Sales Solutions</h5>
          <p class="card-text"><small class="text-muted">Find, attract and recruit talent</small></p>
         <h5>Post a job for free</h5>
         <p class="card-text"><small class="text-muted">Find, attract and recruit talent</small></p>
        <h5>Marketing Solutions</h5>
        <p class="card-text"><small class="text-muted">Find, attract and recruit talent</small></p>
            <h5>Learning Solutions</h5>
          <p class="card-text"><small class="text-muted">Find, attract and recruit talent</small></p>

        </div>
        <div class="card-footer bg-transparent">
            <h4>Create a Company Page <i class="bi bi-plus"></i></h4>
        </div>
      </div>
  </div>
</div>
